<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
            rel="stylesheet"
        />
        <title>Root Cause Analysis</title>
    </head>
    <body
        class="
            flex flex-col
            justify-between
            item-center
            p-8
            min-h-screen
            bg-gradient-to-r
            from-green-400
            to-blue-500
            text-gray-800
            md:flex-row
        "
    >
        <main class="bg-white p-16 rounded-lg">
            <h1 class="text-3xl font-bold mb-8">
                Root Cause Analysis Application :
            </h1>

            <form
                action="{{ url_for('predict') }}"
                method="post"
                class="flex flex-col"
            >
                <label for="CPU Load" class="mt-4 mb-2"
                    >CPU Load:</label
                >
                <select
                    name="CPU Load"
                    id="CPU Load"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>
                

                <label for="Memory Load" class="mt-4 mb-2">Memory :</label>
                <select
                    name="Memory"
                    id="Memory"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="Delay" class="mt-4 mb-2">Delay:</label>
                <select
                    name="Delay"
                    id="Delay"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="Error_1000" class="mt-4 mb-2">Error_1000:</label>
                <select
                    name="Error_1000"
                    id="Error_1000"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="ERROR_1001" class="mt-4 mb-2">ERROR_1001:</label>
                <select
                    name="ERROR_1001"
                    id="ERROR_1001"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="ERROR_1002" class="mt-4 mb-2">ERROR_1002:</label>
                <select
                    name="ERROR_1002"
                    id="ERROR_1002"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="ERROR_1003" class="mt-4 mb-2">ERROR_1003:</label>
                <select
                    name="ERROR_1003"
                    id="ERROR_1003"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="ERROR_1004" class="mt-4 mb-2">ERROR_1004:</label>
                <select
                    name="ERROR_1004"
                    id="ERROR_1004"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <label for="ERROR_1005" class="mt-4 mb-2">ERROR_1005:</label>
                <select
                    name="ERROR_1005"
                    id="ERROR_1005"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>


                <label for="ERROR_1006" class="mt-4 mb-2">ERROR_1006:</label>
                <select
                    name="ERROR_1006"
                    id="ERROR_1006"
                    class="p-4 bg-gray-100 rounded-md"
                >
                    <option value="1">1</option>
                    <option value="0">0</option>
                </select>

                <button
                    type="submit"
                    class="
                        flex
                        justify-center
                        align-center
                        mt-8
                        p-4
                        bg-gradient-to-r
                        from-green-400
                        to-blue-500
                        text-white
                        rounded-md
                    "
                >
                    PREDIKSI SEKARANG
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-arrow-right ml-4"
                    >
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                        <polyline points="12 5 19 12 12 19"></polyline>
                    </svg>
                </button>
            </form>
        </main>
        <section class="mt-8 h-full flex-auto rounded-lg md:mt-0 md:ml-8">
            <div class="bg-white p-16 rounded-lg">
                <h1 class="text-2xl mb-8">
                    Root Cause Analysis :
                </h1>
                <h2 class="text-5xl font-bold">Output Error :  {{ insurance_cost }}</h2>
                
                <div class="mt-8">
                    <p>Akurasi: {{ akur }}</p>
                </div>
                
            </div>
            <div class="flex justify-around bg-white p-16 rounded-lg mt-8">

                <img
                    class="h-24 md:h-28"
                    src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a2/Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg/604px-Logo_of_Ministry_of_Communication_and_Information_Technology_of_the_Republic_of_Indonesia.svg.png"
                    alt="logo-kominfo"
                />
            </div>
        </section>
    </body>
</html>
